<ul class="dropdown-menu">
    {% for compte in compteListe %}
        <li><a href="{{ path('app_operation_index', { 'compte':compte.id }) }}"><strong>{{ compte.libelle }}</strong> <small>({{ compte.currentSolde|number_format(2, ',', ' ') }}€)</small></a></li>
    {% endfor %}
</ul>