{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        Nouvelle opération <small>dans {{ compte.libelle }}</small>
    </h1>
    {{ include('@App/Operation/form_operation.html.twig', { 'new':true }) }}
{% endblock %}